---
layout: default
---

<div class="home">
    <style>
        a {
            color: black
        }

            a:hover {
                color: #808080
            }

            .content-type{
                margin-top:10px;
            }
    </style>
    <div id="sdk" class="content-type">
        <h1>SDK</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "sdk" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title | replace: ".", "" }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title | replace: ".", "" }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <br />
    <style>
        h1 {
            font-weight: bold;
        }
    </style>
    <div id="cicd" class="content-type">
        <h1>CI/CD</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "ci/cd" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <br />

    <div id="ide" class="content-type">

        <h1>IDE</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "ide" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <br />

    <div id="workflow" class="content-type">
        <h1>Workflow</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "workflow" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <br />
    <div id="results" class="content-type">

        <h1>Results</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "results" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title | replace: ".", "\\." }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <br />

    <div id="scripts" class="content-type">

        <h1>Scripts</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "scripts" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
                </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    <br />

    <div id="resources" class="content-type">
        <h1>Resources</h1>

        <div class="row">

            {% for project in site.projects %}
            {% if project.content-type == "resources" %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">

                        <h2>
                            <a class="post-link" href="{{ project.repolink }}">{{ project.title }}</a>
                        </h2>
                    </div>
                </div>
                <div class="row">
                    {% if project.language != "" %}
                    <div class="col-sm-2">
                        <span><i style="font-size:40px" class="fab fa-{{ project.language }}"></i></span>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        {% if project.repo == "github" %}
                        <a class="post-link" href="{{ project.repolink }}/star">
                            <span><i style="font-size:35px" class="fa fa-star"></i></span>
                            <span id="{{ project.repo_title }}_count"><i style="font-size:40px"></i></span>
                            <script>
                                $(function () {
                                    $.getJSON("https://api.github.com/repos/{{ project.author }}/{{ project.repo_title }}/stargazers", function (response) {
                                        $("#{{ project.repo_title }}_count").text(response.length);
                                    });
                                });
                            </script>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom:2px">{{ project.description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
