<footer class="site-footer">

    <div class="wrapper">
        <style>
            h2 {
                color: white;
                margin-top: 30px;
            }
            .contact-list a {
                text-decoration: none;
                color: white !important;
            }
            .text {
                color: white !important;
            }
            .footer-heading{
                color:#E1E369
            }
        </style>
        <h2 class="footer-heading">{{ site.title }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li><a href="https://www.veracode.com/">About</a></li>
                    <li><a href="https://www.veracode.com/about/careers">Careers</a></li>
                    <li><a href="https://community.veracode.com/">Community</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="contact-list">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span><i style="font-size:35px" class="fab fa-github"></i></span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span><i style="margin-top:5px; font-size:35px" class="fab fa-twitter"></i></span>
                        </a>
                    </li>                   
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>
