<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <a class="post-link" href="{{ include.project.repolink }}"
          >{{ include.project.title }}</a
        >
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p style="margin-bottom: 2px">{{ include.project.description }}</p>
    </div>
    <div class="col-md-12">
      <a class="post-content" font-weight="100" href="{{ include.project.author_link }}">{{ include.project.author }}</a>
    </div>
  </div>
</div>
