<div style="background-color:#E1E369; height:500px">

    <div class="wrapper" style="padding-top:25px">
      
        <div class="row">
            <div class="col-md-6">
                <a class="twitter-timeline" data-height="450" href="https://twitter.com/{{ site.twitter_username }}?ref_src=twsrc%5Etfw">Tweets by Veracode</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-md-6">
                <p style="margin-top:150px;font-size:40px;font-weight:bold;text-align:center">
                    {{ site.twitter_username }}
                </p>
            </div>
        </div>
    </div>
</div>