on:
  push:
    branches: [master]
permissions:
  actions: write

jobs:
  create_pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: delete old files
        run: |
          shopt -s extglob
          rm -rf _automating_common_veracode_platform_tasks
          rm -rf _auto_packagers_for_sast
          rm -rf _ci_cd
          rm -rf _azure_devops
          rm -rf _github
          rm -rf _build_tools
          rm -rf _ides
          rm -rf _api_testing_tools
          rm -rf _other
          rm -rf _pipeline_scan_projects
          rm -rf _dynamic_analysis_projects
          rm -rf _results_collection_and_display
          rm -rf _user_provisioning_management_and_deprovisioning
          rm -rf _application_vulnerability_correlation
          rm -rf _hmac_signing_libraries
          rm -rf _api_wrappers
          rm -rf _other_integrations
          rm -rf _secure_coding_examples
          rm -rf _insecure_applications
          rm -rf _automating_security_labs_tasks
          ls -la

      - name: create new page templates
        run: |
          npm i
          node rewrite_md.js

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Convert Markdown to JSON
        run: python md-json-convert.py

      - name: commit and push back to repo
        run: |
          ls -la
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git add -A
          git status
          git-config --get-all
          git commit -am "Update page templates"
          git push -f origin master

      - name: build with jekyll
        uses: actions/jekyll-build-pages@v1
        with: 
          source: .
          destination: ./_site
          future: false
          verbose: true

      - name: uplaod pages artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./_site
          name: github-pages
          retention-days: 1

      - name: report build status
        env: 
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api -X POST "repos/$GITHUB_REPOSITORY/pages/telemetry" \
          -F github_run_id="$GITHUB_RUN_ID" \
          -F conclusion="$CONCLUSION"

  deploy_pages:
    needs: create_pages
    runs-on: ubuntu-latest
    permissions:
        pages: write
        id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
        - name: deploy pages
          uses: actions/deploy-pages@v1
          with:
            timeout: 600000
            error_count: 10
            reporting_interval: 5000
            artifact_name: github-pages
            preview: false
